<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet">
    <title>Quiz</title>
</head>
<body>
<div class="container mt-5">
    <form action="{{ url('submit_answers') }}" method="post">
        {% for question in questions %}
            <div class="mb-3">
                <p>{{ question.text }}</p>
                {% for answer in question.answers %}
                    <div class="form-check">
                        <input class="form-check-input" type="hidden" name="questions[{{ question.id }}][{{ answer.id }}]" value="0">
                        <input class="form-check-input" type="checkbox" name="questions[{{ question.id }}][{{ answer.id }}]" value="1">
                        <label class="form-check-label">
                            {{ answer.option }}
                        </label>
                    </div>
                {% endfor %}
            </div>
        {% endfor %}
        <button type="submit" class="btn btn-primary">Проверить</button>
    </form>
</div>
</body>
</html>